.navbar {
  background-color: #fafafccc;
  backdrop-filter: saturate(180%) blur(20px);
  padding: 10px 20px;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;;
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.nav-menu li {
  margin: 0 15px;
}

.nav-menu a {
  text-decoration: none;
  color: #333;
  font-size: 12px;
  font-weight: 100;
  transition: color 0.3s ease;
}

.nav-menu a:hover {
  color: #0071e3;
  background: none;
}

.nav-menu a i {
  font-size: 18px;
}

.fab {
  height: 14px;
  width: 14px;
}
